/* Global */

noscript, #noWebGL {
	
	display: none;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

#debug {
	
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	padding: 1em;
	z-index: 2;
}

#info {
	
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	z-index: 2;
	text-align: center;
	background-color: rgba(196, 196, 196, .7);
	margin: 1em 30%;
	width: 40%;
	display: block;
	padding: 0;
	border: 0px solid #000000;
}

body.plain {

    font-size: 1.5em;
    width: 100%;
    background-color: #000000;
    background-image: none;
}

body.plain .content {

    margin: 2em;
}

body.plain * {

    width: auto;
    text-shadow: 0 0 5px #000;
}

body.plain h1 {

    font-size: 3em;
}

#info a {
	
	margin: 0 0 1em;
}

#info h2 {
	
	padding: 1em;
	color: #ff0000;
}

#lifeDisplay, #timeDisplay {
	
	display: block;
	top: 0;
	width: 100%;
	position: absolute;
	padding: 1em;
	z-index: 4;
}
	
#lifeDisplay {
	
	right: 0;
	text-align: right;
}

#timeDisplay {
	
	text-align: left;
}

#info table {
	
	width: 100%;
	color: #000000;
	border: 0;
	border-collapse: collapse;
}

#info table * {
	margin: 0;
	padding: .5em;
	text-shadow: 0 0 5px #000;
	border: 0;
}

#info table tr {
	margin: 0;
	padding: 0;
	border-bottom: 0px solid #000000;
}

#info table .slowdown * {
	
	background-color: #ff0000;
}

#info table .speedup * {
	
	background-color: #00ff00;
}

#info table .inverted * {
	
	background-color: #00ffff;
}

#info table .warp * {
	
	background-color: #ffffff;
}

#info table th {
	
	font-weight: bold;
}

#info table .right {
	
	text-align: right;
	display: block;
	border-right: 0px solid #000000;
}

#info table .left {
	
	text-align: left;
	width: 70%;
}

body * {
	
	user-select: none;
}

html, body {
	
	font-family: 'Aldrich', sans-serif;
	overflow: hidden; 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	display:table;
	color: #ffffff;
	text-transform: uppercase;
	background-image: url(../img/horizon.jpg);
	background-size: 100% 100%;
	background-position: center center;
}

#content {
                 
	width: 100%;       
	display: block;
	vertical-align: middle;
	text-align: center;
}

h1 {
	
	font-size: 10em;
	padding: 0;
	margin: 0;
	color: #ff0000;
	text-shadow: 0 0 10px #000;
}

h2 {
	
	font-size: 3em;
	padding: 0;
	margin: 0;
	text-shadow: 0 0 10px #000;
}
   
h3 {
	
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-shadow: 0 0 10px #000;
}
   
p {                            
	
	text-shadow: 0 0 10px #000;
}

a {
	
	color: #990000;
	text-decoration: none;
}
   
div.copyRight {
	                          
	margin: 1em;
	padding: 1em;            
	color: #333333;
	width: auto;
	display: block;
	clear: both;
}

.formRowWrapper {
	
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0;
}

.inputWrapper {
	
	text-align: left;
	width: 40%;
}

.labelWrapper {
	
	text-align: right; 
	width: 40%;
}

#bgBall {
	
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;
}

#contentWrapper {
	
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
}

#introOverlay {
	
	position: absolute;
	text-align: center;
	font-size: 2em;
	text-shadow: 0 0 20px #fff;
	color: #000;
}

/* Buttons */

a.linkButton, input.menuInput {
	
	margin: 0.5em;
	padding: 1em;
	text-align: center;
}

a.menuButton, a.linkButton, a.blockButton, label, input.button {
	
	border: 2px solid #990000;
	background: #000000;
	color: #ffffff;
	display: inline-block;
	box-shadow: 0 0 10px #000;
}
  
a.linkButton, a.menuButton, input.button {
                           
	font-size: 2em;
	padding: 0.5em 0;
	width: 6em;
	margin-top: .2em;
	cursor: pointer;
}

a.linkButton {
	
	width: auto;
	padding: 0.5em;
}

input.menuInput {
	
	width: 10.5em;
}

input.button {
	
	width: 7em;
}
       
a.blockButton {
	           
	height: 3em;
	width: 3em;
}

div.block {
	             
	position: absolute;
}    

div.buttonRows {
	
	margin-top: 1em;
}

a.menuButton:hover, a.menuButton.active,
a.blockButton:hover, a.blockButton.active,
input.button:hover {

	border-color: #ff0000;
	color: #ff0000;
}

a.menuButton:hover, a.menuButton.active, 
input.button:hover {
	
	background: #ffffff;
}

/* Forms */
   
form {
	          
	display: inline-block; 
	width: 100%;
}
    
row {

	display: block;
	line-height: 1.5em;
	clear: both;
}   
   
row.buttons {
	
	margin-top: .5em;
}

label {
	
	width: 15em;
	text-align: right;
	padding: 0.1em 0.2em;
	margin-right: 0.2em;
}

input {
	
	font-family: 'Aldrich', sans-serif;   
	text-transform: uppercase;
	width: 15em;
	padding: 0.2em;
	font-size: 1em;
	display: inline;  
	box-shadow: 0 0 10px #000;
}

.validator {
	
	display: inline;
	color: #ff0000;
	text-shadow: 0 0 10px #000;
}               

/* Game */

#game {
	
	width: 100%;
	height: 100%;
}

canvas {
	
	width: 100%;
	height: 100%;
}        

/* Editor */            

.editorWrapper, .editorDisplayWrapper, #display {
	
	width: auto;	          
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 31.4em;
	overflow: hidden;
}

#buttonUp, #buttonDown {
	
	display: block;
	height: 3.2em;
	max-height: 3.2em;
	width: 15.3em;
	position: absolute;
	z-index: 100000;
	line-height: 3.2em; 
	color: #ffffff;
	margin: 0;
	padding: 0;
	font-size: 1em;
	overflow: hidden;
	opacity: 0;
}

#buttonUp {
	
	background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
} 

#buttonDown {
	       
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	bottom: 0;
	display: none;
} 

#controls {
	
	width: 14em;
	float: left;
	margin: 0;
	padding: 0;
}
   
#levelTitle {

	margin-top: 0.2em;
}
   
#editorDisplayWrapper {
	
	width: 15em;
	display: block;
	float: left;
}

#editorTable {
	
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	empty-cells: show;
}

#editorTable td {
	
	height: 3em;
	width: 3em;
}

#display {
	
	border: 2px solid #990000;
	background: #000000;
	box-shadow: 0 0 10px #000;
	width: 15em;
}

#levelSelection {

	background-color: #000000;
}

#levelSelection ul {

	border-top: 2px solid #cc0000;
	text-shadow: 0 0 5px #000;
	list-style: none;
	margin: 0;
	padding: 0;
}

#levelSelection ul li {

	list-style: none;
	border-bottom: 2px solid #cc0000;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#levelSelection ul li a {

	padding: 0.5em;
	display: block;
}

#levelSelection ul li span {

	border-top: 2px solid #ff0000;
	height: 2em;
	display: none;
	clear: both;
}

#levelSelection ul li span a {

	width: 26.1%;
	float: left;
}

#levelSelection .buttonLoad {

	border-right: 2px solid #ff0000;
}

#levelSelection ul li a:hover, #levelSelection ul li a.active {

	color: #ff0000;
	border-color: #ff0000;
	background-color: #ffffff;
}

ul.bestTimes {
	
	list-style: none;
	max-height: 20em;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	width: 50%;
	margin: 2em 0 2em 25%;
}

ul.bestTimes .bestLevelTime {
	
	margin-left: 2em;
}